In [1]:
import pandas as pd
import numpy as np

pd.options.display.max_rows=200
pd.set_option("display.max.columns", None)

# Exploring the Data Set

## Importing the data from Kaggle

In [2]:
sharks = pd.read_csv('../mini-project-2/attacks.csv', encoding='cp437', sep=',',  low_memory=False)

In [3]:
sharks.shape

(25723, 24)

In [4]:
sharks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [5]:
sharks.dtypes

Case Number                object
Date                       object
Year                      float64
Type                       object
Country                    object
Area                       object
Location                   object
Activity                   object
Name                       object
Sex                        object
Age                        object
Injury                     object
Fatal (Y/N)                object
Time                       object
Species                    object
Investigator or Source     object
pdf                        object
href formula               object
href                       object
Case Number.1              object
Case Number.2              object
original order            float64
Unnamed: 22                object
Unnamed: 23                object
dtype: object

In [6]:
sharks.describe()

              Year  original order
count  6300.000000     6309.000000
mean   1927.272381     3155.999683
std     281.116308     1821.396206
min       0.000000        2.000000
25%    1942.000000     1579.000000
50%    1977.000000     3156.000000
75%    2005.000000     4733.000000
max    2018.000000     6310.000000

# Premilimary cleasing

> We backed up the data so we don't lose any valuable information

In [8]:
sharks_copy = sharks.copy()

> We started out by removing empty columns

In [9]:
sharks_copy = sharks_copy.drop(['Unnamed: 22','Unnamed: 23'], axis=1)

> Then we removed all rows with missing values

In [10]:
missing_values_mask = sharks_copy.isna().all(axis=1)

> We then identified the index numbers containing any NaN

In [11]:
empty_rows = sharks_copy.loc[missing_values_mask, :].index

> And dropped it

In [12]:
sharks_copy = sharks_copy.drop(empty_rows)

> We found that some lines had more NaN than actual information, also that these lines had only values in columns that doesn't say a whole lot about the incidents, such as 'Case Number' and 'original order', and we decided to drop it out

In [13]:
useless_rows = sharks_copy.loc[sharks_copy.iloc[:,1:-1].isna().all(axis=1),:].index

In [14]:
sharks_copy = sharks_copy.drop(useless_rows)

> We also cleaned up what seemed to be some typos in the 'Type' column

In [15]:
sharks_copy['Type'].unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', nan, 'Boat', 'Boatomg'], dtype=object)

In [16]:
sharks_copy = sharks_copy.replace(to_replace=['Boating','Boatomg'], value = 'Boat')

## The Data Frame so far

In [17]:
sharks_copy.head(10)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2018.06.25,25-Jun-2018,2018.0,Boat,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonáMcNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0
5,2018.06.03.b,03-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Flat Rock, Ballina",Kite surfing,Chris à,M,NaN,"No injury, board bitten",N,NaN,NaN,"Daily Telegraph, 6/4/2018",2018.06.03.b-FlatRock.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.b,2018.06.03.b,6298.0
6,2018.06.03.a,03-Jun-2018,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,FATAL,Y,Late afternoon,Tiger shark,"Diario de Pernambuco, 6/4/2018",2018.06.03.a-daSilva.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.a,2018.06.03.a,6297.0
7,2018.05.27,27-May-2018,2018.0,Unprovoked,USA,Florida,"Lighhouse Point Park, Ponce Inlet, Volusia County",Fishing,male,M,52,Minor injury to foot. PROVOKED INCIDENT,N,NaN,"Lemon shark, 3'","K. McMurray, TrackingSharks.com",2018.05.27-Ponce.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.27,2018.05.27,6296.0
8,2018.05.26.b,26-May-2018,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,Lower left leg bitten,N,17h00,"Bull shark, 6'","K.McMurray, TrackingSharks.com",2018.05.26.b-High.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.26.b,2018.05.26.b,6295.0
9,2018.05.26.a,26-May-2018,2018.0,Unprovoked,USA,Florida,"Daytona Beach, Volusia County",Standing,male,M,12,Minor injury to foot,N,14h00,NaN,"K. McMurray, Tracking Sharks.com",2018.05.26.a-DaytonaBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.26.a,2018.05.26.a,6294.0

# The question

> Quantas pessoas, que estavam surfando, do sexo masculino tiveram ferimentos fatais causados por tubarões dos anos 1900 até hoje?

> [EN] According to the given data, how many male surfers have had fatal injuries caused by sharks from 1900 on?
>> [PT] Quantas pessoas, que estavam surfando, do sexo masculino tiveram ferimentos fatais causados por tubarões dos anos 1900 até hoje?

## Columns we worked with

1. Year
2. Fatal (Y/N)
3. Sex
4. Activity

### Cleaning the 'Year' column

In [18]:
sharks_copy['Fatal (Y/N)'].fillna('UNKNOWN',inplace=True)

In [19]:
sharks_copy.head(20)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2018.06.25,25-Jun-2018,2018.0,Boat,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonáMcNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0
5,2018.06.03.b,03-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Flat Rock, Ballina",Kite surfing,Chris à,M,NaN,"No injury, board bitten",N,NaN,NaN,"Daily Telegraph, 6/4/2018",2018.06.03.b-FlatRock.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.b,2018.06.03.b,6298.0
6,2018.06.03.a,03-Jun-2018,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,FATAL,Y,Late afternoon,Tiger shark,"Diario de Pernambuco, 6/4/2018",2018.06.03.a-daSilva.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.a,2018.06.03.a,6297.0
7,2018.05.27,27-May-2018,2018.0,Unprovoked,USA,Florida,"Lighhouse Point Park, Ponce Inlet, Volusia County",Fishing,male,M,52,Minor injury to foot. PROVOKED INCIDENT,N,NaN,"Lemon shark, 3'","K. McMurray, TrackingSharks.com",2018.05.27-Ponce.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.27,2018.05.27,6296.0
8,2018.05.26.b,26-May-2018,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,Lower left leg bitten,N,17h00,"Bull shark, 6'","K.McMurray, TrackingSharks.com",2018.05.26.b-High.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.26.b,2018.05.26.b,6295.0
9,2018.05.26.a,26-May-2018,2018.0,Unprovoked,USA,Florida,"Daytona Beach, Volusia County",Standing,male,M,12,Minor injury to foot,N,14h00,NaN,"K. McMurray, Tracking Sharks.com",2018.05.26.a-DaytonaBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.26.a,2018.05.26.a,6294.0
10,2018.05.24,24-May-2018,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Minor bite to hand by captive shark. PROVOKED ...,N,Morning,Grey reef shark,"ABC.net.au ,05/24/2018",2018.05.24-CairnsAquarium.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.24,2018.05.24,6293.0
11,2018.05.21,21-May-2018,2018.0,Unprovoked,USA,South Carolina,"Isle of Palms, Charleston County",Boogie boarding,Trey de Boer,M,10,Injuries to lower right leg and foot,N,NaN,NaN,"C. Creswell, GSAF",2018.05.21-deBoer.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.21,2018.05.21,6292.0
12,2018.05.13.b,13-May-2018,2018.0,Unprovoked,USA,South Carolina,"Hilton Head Island, Beaufort County",Swimming,Jei Turrell,M,10,Severe bite to right forearm,N,15h00,NaN,"C. Creswell, GSAF & K. McMurray TrackingSharks...",2018.05.13.b-Turrell.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.13.b,2018.05.13.b,6291.0
13,2018.05.13.a,13-May-2018,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,Injured by teeth of a dead porbeagle shark he ...,N,08h15,Invalid incident,"K. McMurray, TrackingSharks.com",2018.05.13.a-Berryman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.13.a,2018.05.13.a,6290.0
14,2018.05.00,May 2018,2018.0,Provoked,AUSTRALIA,Westerm Australia,Dugong Bay,Feeding sharks,Melisa Brunning,F,34,Shallow lacerations to finger PROVOKED INCIDENT,N,NaN,"Tawny nurse shark, 2m","Perth Now, 6/30/2018",2018.05.00-Brunning.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.00,2018.05.00,6289.0
15,2018.05.12,12-May-2018,2018.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,"Nahoon Beach, East London",Surfing,male,M,NaN,"Minor injury, marks on board",N,11h00,NaN,"B.Jacob, Dispatch Live, 5/12/2018",2018.05.12-EastLondon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.12,2018.05.12,6288.0
16,2018.05.09,09-May-2018,2018.0,Questionable,AUSTRALIA,New South Wales,"Sharpes Beach, Ballina",Surfing,male,M,NaN,"No injury, surfboard damaged",N,10h30,Shark involvement not confirmed,"B. Myatt, GSAF",2018.05.09-SharpesBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.09,2018.05.09,6287.0
17,2018.04.30.R,Reported 30-Apr-2018,2018.0,Unprovoked,THAILAND,Hua Hin,Sai Noi Beach,Swimming,female,M,NaN,Minor injury to ankle,N,NaN,NaN,"K. McMurray, TrackingSharks.com",2018.04.30.R-Thailand.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.30.R,2018.04.30.R,6286.0
18,2018.04.28.b,28-Apr-2018,2018.0,Unprovoked,COSTA RICA,Cocos Island,Manuelita,Scuba diving,male,M,30,"No injury, shark bit scuba gear",N,10h40,Tiger shark,Costa Rica Star. 4/28/2018,2018.04.28.b-CostaRica.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.28.b,2018.04.28.b,6285.0
19,2018.04.28.a,28-Apr-2018,2018.0,Unprovoked,AUSTRALIA,Western Australia,Gearys Beach,Surfing,Adam Murray,M,NaN,"No injury, knocked off board by shark",N,16h50,NaN,"B. Myatt, GSAF",2018.04.28.a-Murray.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.28.a,2018.04.28.a,6284.0

In [20]:
sharks_copy['Fatal (Y/N)'].unique()

array(['N', 'Y', 'UNKNOWN', 'M', '2017', ' N', 'N ', 'y'], dtype=object)

In [21]:
checking_num = sharks_copy['Fatal (Y/N)'] == '2017'
sharks_copy.loc[checking_num]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
786,2012.06.10,10-Jun-2012,2012.0,Provoked,ITALY,Sardinia,Muravera,Attempting to rescue an injured & beached shark,Giorgio Zara,M,57,Lower left leg injured PROVOKED ACCIDENT,2017,Morning,"Blue shark, 2.5m","D. Puddo, 6/11/2012",2012.06.10-Zara.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.06.10,2012.06.10,5517.0

In [22]:
sharks_copy['Fatal (Y/N)'].unique()

array(['N', 'Y', 'UNKNOWN', 'M', '2017', ' N', 'N ', 'y'], dtype=object)

> We verified that the 'M' and the 2017 values are typos, and cleaned it out

In [23]:
sharks_copy.loc[sharks_copy['Fatal (Y/N)'] == 'M',['Injury']]

                                                Injury
285  Laceration to knee by speared shark PROVOKED I...

In [24]:
sharks_copy.loc[sharks_copy['Fatal (Y/N)'] == '2017',['Injury']]

                                       Injury
786  Lower left leg injured PROVOKED ACCIDENT

In [25]:
sharks_copy.loc[:,'Fatal (Y/N)'].replace(to_replace=[' N','N ','M', '2017' ], value = 'N', inplace=True)
sharks_copy.loc[:,'Fatal (Y/N)'].replace(to_replace=[' N','N ','M', '2017' ], value = 'N', inplace=True)

> The result so far

In [26]:
sharks_copy.loc[:,'Fatal (Y/N)'].replace(to_replace='y', value = 'Y') 
# sharks_copy.head(5)

0       N
1       N
2       N
3       N
4       N
       ..
6297    Y
6298    Y
6299    Y
6300    Y
6301    Y
Name: Fatal (Y/N), Length: 6302, dtype: object

In [27]:
sharks_copy['Fatal (Y/N)'].head(10)

0    N
1    N
2    N
3    N
4    N
5    N
6    Y
7    N
8    N
9    N
Name: Fatal (Y/N), dtype: object

In [28]:
sharks_copy.head(5)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2018.06.25,25-Jun-2018,2018.0,Boat,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonáMcNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0

> Getting the index of the data from 1900 on

In [29]:
from_1900 = sharks_copy.loc[sharks_copy['Year'] < 1900, :].index

> We then droped the line out the range of interest

In [30]:
sharks_copy = sharks_copy.drop(from_1900)

### Cleaning the 'sex' column

> First, we checked the values in the 'sex' column. For now, we are ignoring the space after the title. We will approach it later on.

In [31]:
sharks_copy['Sex '].unique()

array(['F', 'M', nan, 'M ', 'lli', 'N', '.'], dtype=object)

> A small number of data is messed up, so we can manage to review it and make decisions regaring it's value

In [32]:
# from the victim's name, we can infer that the individual probably is male
sharks_copy.loc[sharks_copy['Sex ']== 'lli',:]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
1624,2004.11.11.b,11-Nov-2004,2004.0,Unprovoked,USA,California,"Bunkers, Humboldt Bay, Eureka, Humboldt County",Surfing,Brian Kang,lli,38,"Lacerations to hand, knee & thigh",N,13h30,5.5 m [18'] white shark,"R. Collier, GSAF",2004.11.11.b-Kang.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2004.11.11.b,2004.11.11.b,4679.0

In [33]:
# Not enough info to infer the sex, fill it with 'UNKNOWN'
sharks_copy.loc[sharks_copy['Sex ']== '.',:]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
5437,1908.06.02.R,Reported 02-Jun-1908,1908.0,Sea Disaster,PAPUA NEW GUINEA,New Britain,Matupi,.,NaN,.,NaN,"Remains of 3 humans recovered from shark, but ...",Y,NaN,Allegedly a 33-foot shark,"Taranaki Herald, 6/2/1908",1908.06.02.R-Matupi.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1908.06.02.R,1908.06.02.R,866.0

In [34]:
# We could infer from the data they are mostly type error from 'M'
sharks_copy.loc[sharks_copy['Sex ']== 'N',:]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
4938,1934.07.11,11-Jul-1934,1934.0,Boat,AUSTRALIA,New South Wales,Cronulla,Fishing,"18' boat, occupants William & Leslie Newton",N,NaN,No injury to occupants Sharks continually foll...,N,NaN,"Blue pointer, 11'","G.P. Whitley, ref: Daily Telegraph, 7/11/1934 ...",1934.07.11-Newton-boat-Australia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1934.07.11,1934.07.11,1365.0

> We decided to change to 'M' the values we thought were refering to a male individual

In [36]:
sharks_copy.loc[:,'Sex '].replace(to_replace = ['lli','N', 'M '], value = 'M', inplace = True)

> And '.' value AND NaN values to 'UNKNOWN'

In [37]:
sharks_copy.loc[:,'Sex '].replace(to_replace = ['.'], value = 'UNKNOWN', inplace = True)

In [38]:
sharks_copy['Sex '].fillna('UNKNOWN', inplace=True )

In [43]:
sharks_copy['Sex '].head(10)

0    F
1    F
2    M
3    M
4    M
5    M
6    M
7    M
8    M
9    M
Name: Sex , dtype: object

In [45]:
sharks_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5564 entries, 0 to 6079
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             5563 non-null   object
 1   Date                    5564 non-null   object
 2   Year                    5562 non-null   float64
 3   Type                    5561 non-null   object
 4   Country                 5540 non-null   object
 5   Area                    5251 non-null   object
 6   Location                5186 non-null   object
 7   Activity                5129 non-null   object
 8   Name                    5397 non-null   object
 9   Sex                     5564 non-null   object
 10  Age                     3380 non-null   object
 11  Injury                  5545 non-null   object
 12  Fatal (Y/N)             5564 non-null   object
 13  Time                    2850 non-null   object
 14  Species                 3281 non-null   object
 15  Investigator or Source  5549 non-null   object
 16  pdf                     5564 non-null   object
 17  href formula            5563 non-null   object
 18  href                    5564 non-null   object
 19  Case Number.1           5564 non-null   object
 20  Case Number.2           5564 non-null   object
 21  original order          5564 non-null   float64
dtypes: float64(2), object(20)
memory usage: 999.8+ KB

In [57]:
sharks_copy.fillna('UNKNOWN', inplace=True)

### Cleasing the ' Activity' column: filtering incidents with surfers

In [59]:
surf_mask = sharks_copy.loc[:,'Activity'].apply(lambda x: (('surf' in x)|('Surf' in x)))

In [60]:
surf = sharks_copy.loc[surf_mask,:]

> This new dataframe summarizes the incidents with surfers from 1900, classified by gender and fatalities

In [61]:
surf.groupby(by=['Sex ', 'Fatal (Y/N)'])['Activity'].count()

Sex      Fatal (Y/N)
F        N                66
         UNKNOWN           7
         Y                 4
M        N              1041
         UNKNOWN          42
         Y                67
UNKNOWN  N                25
         UNKNOWN           4
Name: Activity, dtype: int64

> We also noticed that there were a large number of shark incidents with fishers. Since our function was easy to customize for any string in the Activity column, we decided to take a look at this data as well

In [62]:
fisher_mask = sharks_copy.loc[:,'Activity'].apply(lambda x: (('fish' in x)|('Fish' in x)))

In [63]:
fishing = sharks_copy.loc[fisher_mask, :]

In [64]:
fishing.groupby(by=['Sex ', 'Fatal (Y/N)'])['Activity'].count()

Sex      Fatal (Y/N)
F        N               23
         UNKNOWN          2
         Y                2
M        N              757
         UNKNOWN         65
         Y              135
UNKNOWN  N              140
         UNKNOWN          8
         Y                9
Name: Activity, dtype: int64

# Exporting the cleaned data

In [66]:
sharks_copy.to_csv('../mini-project-2/attacks_andre-eve.csv')

# Conclusion and Next Steps

> Our early process was very explorative and we were communicative from beginning to end. We started by establishing a strategy regarding what we should do, the columns and issues that were worth approaching, and how we would approach them. One of the things we noticed was that ***some of the cases registered as shark attacks had no sharks attacking no one at all!** At first we thought that it was a good subject to work on in our project, and we still do, but since it would take A LOT of filtering and we had just a few hours, we decided to design our cleaning around a problem that we could handle. In the near future we would like to continue working on the project, approaching the columns in order of difficulty.

Easy to clean:
* Case number
* Original order
* href, href formula, pdf
* Type
* Case number
* Injury

Slighly harder:
* Name
* Country
* Location
* Area

The tough ones:
* Species
* Investigator or source
* Time
* Date

# BONUS: Some of our early discovery and learning process

## Getting acquainted with the dataframe and finding issues with columns

### Spaces after column names

In [ ]:
sharks.columns

> 'Sex ', 'Species '

### Upper case mixed with lower case titles

> 'pdf', 'href formula', 'href', 'original order'

### Empty columns

In [ ]:
sharks['Unnamed: 22'].isna().mean()

In [ ]:
sharks['Unnamed: 23'].isna().mean()

## Possibly duplicated columns

### Case Number, Case Number, Case Number

In [ ]:
sharks.columns

In [ ]:
sharks.groupby(by=['Case Number', 'Case Number.1'], axis=1)

In [ ]:
sharks['Case Number'].is_unique

In [ ]:
sharks['Case Number'].value_counts()

In [ ]:
sharks['Case Number.1'].head(20)

In [ ]:
sharks[['Case Number', 'Case Number.1', 'Case Number.2']].head(5)

### Case Number

In [ ]:
sharks['Case Number'].head(5)

### Case Number.1

In [ ]:
sharks['Case Number.1'].head(5)

### Case Number.2

In [ ]:
sharks['Case Number.2'].head(5)

## Date

In [ ]:
sharks['Date'].value_counts().head(25)

In [ ]:
date = sharks['Date']
pd.to_datetime(date, infer_datetime_format=True)

## Row issues

Droped several duplicated and empty rows.

## Year

Should we really keep redundant information such as complete date and year?

In [ ]:
sharks[['Year','original order']].isna().sum()

In [ ]:
sharks['Year'].value_counts().head(10)

## Type

In [ ]:
sharks['Type'].unique()

## Country

In [ ]:
sharks['Country'].unique()

## Area

In [ ]:
sharks['Area'].unique()

## Location

In [ ]:
list(sharks['Location'].unique())

## Activity

In [ ]:
list(sharks['Activity'].unique())

## Name

In [ ]:

name_female = (sharks['Name'] == 'female').sum()
name_male = (sharks['Name'] == 'male').sum()
wrong_names = name_female + name_male
print(f'Wrong names: {wrong_names}')

total_names = sharks['Name'].count()
print(f'Total names: {total_names}')

clean_names = total_names - wrong_names
print(f'Clean names: {clean_names}')

## Sex

In [ ]:
sharks['Sex ']

In [ ]:
sharks['Sex '].unique()

In [ ]:
mask = (sharks['Sex '] == '.')
sharks.loc[mask]

## Age

In [ ]:
sharks['Age'].unique()

## Injury

In [ ]:
list(sharks['Injury'].unique())

## Fatal (Y/N)

In [ ]:
sharks['Fatal (Y/N)']

In [ ]:
sharks['Fatal (Y/N)'].unique()

In [ ]:
fatal_mask = sharks['Fatal (Y/N)'] == 'M'
sharks.loc[fatal_mask]

In [ ]:
sharks['Fatal (Y/N)'].isna().sum()

## Time

In [ ]:
sharks['Time'].unique()

## Species

In [ ]:
sharks.groupby(by=['Case Number', 'Case Number.1'], axis=1)

In [ ]:
sharks.groupby(by=['Case Number', 'Case Number.1'], axis=1)

In [ ]:
sharks.groupby(by=['Case Number', 'Case Number.1'], axis=1)

In [ ]:
list(sharks['Species '].unique())

## Investigator or Source

In [ ]:
sharks['Investigator or Source'].head(5)

In [ ]:
list(sharks['Investigator or Source'].unique())

## pdf, href formula, href

In [ ]:
sharks[['href formula', 'href', 'pdf']].head(10)

In [ ]:
sharks['href'].head(5)

## original order

Probably the original index order. Is it still relevant?

In [ ]:
sharks['original order'].isna().sum()

In [ ]:
sharks['original order'].dropna().tail(25)